@font-face{
	font-family: 'Ubuntu';
	src: url(../Center/Fonts/Ubuntu/Ubuntu-Regular.ttf);

}
@font-face{
	font-family: 'Ubuntu-Light';
	src: url(../Center/Fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face{
	font-family: 'Ubuntu-Bold';
	src: url(../Center/Fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face{
	font-family: 'Ubuntu-Medium';
	src: url(../Center/Fonts/Ubuntu/Ubuntu-Medium.ttf);
}
html, body{
	transition: all 0.5s;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}
ul{ width: 100vw;
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin-top: 0;
	font-family: Ubuntu;
}
li{	margin-top: 21px;
	font-size: 24px;
	text-decoration: none;
}
.tape:hover{
	transition: all 0.5s;
	opacity: 0.2;
}
.nav a{
	text-decoration: none;
	color: #4a403f; 
	padding: 21px;
	margin-left: 3vw;
}
.main-block{
	width: 100vw;
	height: 100vh;
	background-image: url(../Center/img/background-main.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.header-box-tringle{
	margin-top: 39vh;
}
.header-box-tringle-two{
	height: 100%;
	width: 100%;
	text-align:  center;
	margin-top: 20vh;
}
.container-text-main-two{
	text-align:  center;
	margin-top: 20vh
}
.tape{ 
	transition: all 0.5s;
	position: absolute;
	width: 30vw;
	opacity: 0.3;
	height: 100vh;
	background-color: white;
	transform: skewX(-27deg);
}
header {
	z-index: 9999;
	position: absolute;
}
.text-one{	
	color:#fff;
	font-size: 36px; 
	font-family: Ubuntu-Light;
}
.google{
	color:#fff;
	font-size: 48px;
	font-family: Ubuntu-Bold;
}
.container-text-main{
	margin-left: 3vw;
	text-transform: uppercase;
	position: absolute;
	margin-top: 50vh;
}
.privilage-block{

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.help-caption{
	opacity: 0.1;
	margin-top: -3vh;
  font-size: 158px;
  font-family: Ubuntu-Bold;
  line-height: 0.625;
  text-align: center;
  position: absolute;
}
.privilage-text{
	padding-top: 0.5vw;
	padding-left: 3vw;
	font-size: 37px;
	font-family: Ubuntu;
}
.container-for-privilage-text{
	margin-top: 150px;

}
.privilage-item{
	width: 100%;
	justify-content: space-around;
}

.work{

	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: flex;
	background-image: url(../Center/img/background-work.png);	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.work-text{
	padding-top: 230px;
	padding-bottom: 100px;
	display: block;
	text-align: center;
	color: #fff;
	font-family: Ubuntu;
	font-size: 48px;
}
.login-one{
	display: block;
	padding-bottom: 230px;
}
.button{
margin-top:105px;
}

.charity-text{
	padding-top: 115px;
	font-family: Ubuntu-Bold;
	font-size: 60px;
}
.charity-img{
	padding-top: 115px;
}
.charity-text-bible{
	padding-top: 60px;
	font-size: 30px;
	font-family: Ubuntu-Light;
	font-style: italic;
}
.church-text{
	padding-top: 130px;
	color: #fff;
	font-size: 60px;
	font-family: Ubuntu-Bold;
	padding-bottom: 85px;
}
.church{
	background-color: #15505b;
}
.church-tringl{
	padding-top: 150px;
	position: relative;
}
.church-text-bible{
	color: #fff;
	font-size: 32px;
	font-family: Ubuntu-Light;
	font-style: italic;

}
.button-two{
	padding-top: 75px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: flex;
	padding-bottom: 120px;
}
.futer-one{
	background-color: #e8e8e8;

}


.futer-two{
	height: 180px;
}
.container-item{
	align-items: center;
	justify-content: center;
	flex-direction: row;
	display: flex;
}
.futer-img{
	margin-top: 40px;
	margin-right: 8px;
	margin-left: 8px;
}
.container-futer{
	height: 230px;
	align-items: center;
	justify-content: center;
	display: flex;
}
.login{
	display: block;
}
.previlage-tringle{
	font-size: 36px;
	color: #023439;
	font-family: Ubuntu;
	text-align: center;
	padding-bottom: 180px;
}

.futer-text{
	font-size: 18px;
	color: #393939;
	
	text-decoration: none;
}
.text-footer{
		padding-top: 85px;
}
.nom{ 
	padding-bottom: 80px;	
	padding-top: 85px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: flex;
}
.adress{
	padding-top: 85px;
	color:#393939;
	font-size: 18px;
	font-family: Ubuntu;
}
.nombers{
	font-size: 21px;
	font-family: Ubuntu-Medium;
}
.tringles-church{
	position: relative;
}
.tringles-church::before{
	content: "";
    position: absolute;
    z-index: 0;
    width: 10000px;
    background: #fff;
    height: 2px;
    bottom: 25%;
    left: 45%;
}
.tringle{transition: all 0.5s;
	padding-top: 120px;
	padding-bottom: 45px;

}
.tringles-charity::before{
	content: "";
    position: absolute;
    z-index: -1;
    width: 10000px;
    background: #e8e8e8;
    height: 2px;
    bottom: 35%;
    left: 45%;
}
.tringles-charity{
	z-index: 1;
}
@media screen and (max-width:767px){
	ul{	flex-direction: column;
		display: flex;
	}
	.header-box-tringle{
		display: flex;
		flex-direction: column;
	}
	.tape{
		display: none;
	}	
	.img-one{
		width: 70%;
	}
	.nav{
		
		text-decoration: none;
		color: #4a403f;
	}
	.previlage-tringle{
		padding-bottom: 0px;
	} 
}